.page-container {
  min-height: 100vh;
  background-image:
    url("/images/login-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Login */
.auth-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* Judul */
.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Button */
.auth-button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-button:hover {
  background: #1e40af;
}

/* Error */
.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
